* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

.decoration {
    position: relative;
    width: 100vw;
    height: 150px;
}

.decoration div {
    position: absolute;
    top: 0;
    left: 0;
    width: 1028px;
    height: 240px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.decoration .blue {
    background-color: #055C9D;
    transform: translateX(-250px) translateY(-180px) rotate(-19deg);
    z-index: 3;
}

.decoration .bluegrotto {
    background-color: #0E86D4;
    transform: translateX(-235px) translateY(-160px) rotate(-24deg);
    z-index: 2;
}

.decoration .babyblue {
    background-color: #68BBE3;
    transform: translateX(-100px) translateY(-150px) rotate(-19deg);
    z-index: 1;
}

.main {
    position: relative;
    font-family: "Montserrat", sans-serif;;
    max-width: 1024px;
    padding: 20px;
    margin: auto;
    z-index: 5;
}

.main h1 {
    font-size: 64px;
    font-weight: 600;
    z-index: 5;
}

.main h1 span {
    font-weight: 800;
    font-size: 100px;
    color: #003060;
}

.main h2 {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .footer p {
    font-weight: 500;
}

.divider {
    width: 3px;
    height: 24px;
    background-color: #003060;
}

a {
    color: black;
}

@media screen and (max-width: 768px) {
    .decoration div {
        width: 500px;
        height: 120px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }

    .decoration .blue {
        transform: translateX(-125px) translateY(-90px) rotate(-19deg);
    }

    .decoration .bluegrotto {
        transform: translateX(-118px) translateY(-80px) rotate(-24deg);
    }

    .decoration .babyblue {
        transform: translateX(-50px) translateY(-75px) rotate(-19deg);
    }

    .main h1 {
        font-size: 40px;
    }

    .main h1 span {
        font-size: 60px;
    }

    .main h2 {
        font-size: 40px;
    }

    .main .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }

    .main .footer p {
        font-weight: 500;
    }

    .divider {
        width: 24px;
        height: 3px;
        background-color: #003060;
    }
}